@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sriracha&display=swap');


:root {
   --home-background: black;
   --color-p: white;
   --bachground-header: #8100B8;
   --shadow-color: #8100B8;
   --h1-color: #E10000;
   --primary-color: #edf2fc;
   --secondary-color: #212121;
   --list-color-firstword: #E10000;

}

body {
   font-family: 'Sriracha', cursive;
   background: var(--home-background);

}


.header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px;
   background-color: var(--bachground-header);
}

.dark-theme {
   color: var(--secondary-color);
   background: var(--primary-color);
}

.dark-theme .p,
.dark-theme li {
   color: var(--secondary-color);
}

.dark-theme .menu-list li a {
   color: var(--secondary-color);
}

#icon {
   width: 50px;
   margin-right: 100px;
   cursor: pointer;
   border-radius: 10px;
   transition: 0.9s;
   background: var(--home-background);

}

#icon:hover {
   background-color: var(--h1-color);
   border-radius: 10px;
   transform: scale(1.1);
}

main {
   max-width: 1200px;
}

.menu-icon {
   display: flex;
   flex-direction: column;
   cursor: pointer;

}

.line {
   width: 50px;
   height: 5px;
   background-color: var(--home-background);
   margin: 5px 0;

}

.menu-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: none;
   position: absolute;
}

.menu-list li {
   padding: 70px;
   background-color: var(--color-p);
   justify-content: end;
}

.menu-list li a {
   text-decoration: none;
   color: var(--home-background);
   font-weight: bold;
}

.hed {
   position: absolute;
   font-size: 40px;
}

.h1 {
   margin-left: 500px;
   color: var(--h1-color);
   font-size: 43px;
}

.p {
   color: var(--primary-color);
   margin-left: 100px;
   padding: 30px;
   font-size: 23px;
}

li {
   color: var(--primary-color);
   margin-left: 100px;
   padding: 10px;
   font-size: 23px;
}

   li::first-word {
   background-color: var(--list-color-firstword);
}